<div class="footer">
  <div class="bluefooter"></div>
  <br>
  <div style="text-align: center;">
    <p style="color:#808080">Cimstrat Inc., Copyright <%= Time.current.year %>
    </p>
  </div>
</div>  