
<div class="welcome_container">
<div style="display: block; min-height: 150px; width: 100%;"></div>
  <div class="welcome-shot">
    <p style="color: grey; font-size: 40px; margin-left: 60%; padding-top: 200px">Wecome to ShotMaker!</p>
    <p style="color: blue; font-size: 12px; margin-left: 72%">(You must be 21 to enter...or just somebody cool.)</p>
     <button type="button" class="btn btn-success">Success</button>
  </div>
  <div style="display: block; min-height: 100px; width: 100%;">
    <%= link_to 'Enter', "/shots" %>
  </div>
</div>



