<%= render partial: "shared/header" %>


  <div class="main">
    <div class="container">
      <h2>Contact Us</h2>
      
<div class="container2">
  <form action="/action_page.html.erb">
    <label for="fname">First Name</label><br>
    <input class="form-control input-lg" type="text" id="fname" name="firstname" placeholder="Your name.."><br>

    <label for="lname">Last Name</label><br>
    <input class="form-control input-lg" type="text" id="lname" name="lastname" placeholder="Your last name.."><br>

    <label for="country">Country</label>
    <select id="country" name="country" placeholder="Write something..">
      <option value="nil"></option>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="Mexico">Mexico</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <%= link_to 'Submit', contact_path, :class=>"btn btn-primary btn-lg" %>
  </form>
</div>

 
    </div>
  </div>


<%= render partial: "shared/footer" %>
