/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
}

body, html {
  background: #000;
  font-family: "Oxygen", sans-serif;
}

.header {
  background-color: black;
  height: 80px;
  float:left;
  width: 100%;
}

.blueheader {
  display: block;
  background-color: #0393ff;
  margin-top: 8px;
  height: 1px;
  float:left;
  width: 100%;
}

.headertext_1 {
  position: absolute; 
  right: 0px; 
  top: 0px; 
  z-index: 1;
  color: grey; 
  font-size: 40px; 
  padding-right: 37px;
}

.ad_space {
  display: block;
  min-height: 95px;
  width: 100%;
}

.welcome_shot {
  background-image: url("welcome_shot.jpg");
  display: block; /* for verification */
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.welcome_message {
  float: left;
  min-width: 450px;
  min-height: 270px;
  margin-top: 120px;
  margin-left: 60%;
}

.wtext_1 {
  color: grey; 
  font-size: 40px; 
  padding-right: 7px; 
  text-align: right;
}

.wtext_2 {
  color: blue; 
  font-size: 12px; 
  padding-right: 7px; 
  text-align: right;
}

.login-sign-up-buttons {
  right: 0px; 
  float:right; 
  min-width:190px; 
  min-height: 40px; 
  margin-top: 50px;
}  

.container {
 /* margin: 0 auto 0; */
  width: 1000px;
}

.container3 {
  margin: 0 auto 0;
  width: 1000px;
}

.welcome_container {
  position: float;
  margin: 0 auto 0;
  width: 100%;
}

.footer {
  background-color: black;
  height: 80px;
  float:left;
  text-align: center;
  width: 100%;
}

.bluefooter {
  display: block;
  background-color: #0393ff;
  margin-bottom: 8px;
  height: 1px;
  float:left;
  width: 100%;
}

/*
  Shots
*/
h1 {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 0 0 40px 0;
}

h2 {
  color: #0393ff;
  font-size: 24px;
  text-align: center;
}

.main h2 {
  color: #0393ff;
  padding: 40px 0 40px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  text-transform: uppercase;
}

.main p {
  color: #fff;
  font-size: 14px;
}

h3,
h3 a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
  margin: 12px 0 4px; 
  text-transform: uppercase;
  text-decoration: none;
}


.ingredient {
  display: block;
  float: left;
  margin: 0px 10px 150px 0;
  max-width: 1000px;
  height: 250px;
}

.shot {
  display: block;
  float: left;
  margin: 0 10px 80px 0;
  width: 184px;
  height: 525px;
}

.shot:nth-child(5n + 6), .ingredient:nth-child(5n + 6)  {
  margin: 0 0 80px 0;
}

.shot img, .ingredient img {
  width: 100%;
}

.shot a,
.ingredient a {
  color: #0393ff;
  text-decoration: none;
}


/* 
  Shot Show
*/
.shot-show .shot, .ingredient-index, .ingredient-show .ingredient {
  padding: 60px 0 0 0;
  width: 100%;
}

.shot-show .shot img, .ingredient-show .ingredient img {
  float: left;
  width: 250px;
}

.shot-show .shot h3, .ingredient-show .ingredient h3 {
  color: #0393ff;
  font-size: 40px;
  height: auto;
  line-height: 40px;
}


.info {
  position: absolute;
  display: block;
  float: left;
  margin: 0 0 0 290px;
  max-width: 900px;
}


.shot-show .shot p {
  display: block;
}

.shot-show .shot p.year {
  margin: 0 0 20px 0;
}

/* Data Table for Shots */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    background-color: black;
    color: white;
}

td, th {
    border: 1px solid #0393ff;
    text-align: left;
    padding: 8px;
}

/* 
  MEDIA QUERIES
*/

@media screen and (max-width: 960px) {
  .container {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .shot h3 {
    font-size: 15px;
  }

  .shot a,
  .ingredient a {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  .shot a,
  .ingredient a {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .shot, .ingredient {
    width: calc(50% - 10px);
  }

/*
  .info {
    margin: 0 0 0 20px;
    width: calc(100% - 204px);
  }
*/



  .shot-show .shot h3, .ingredient-show .ingredient h3 {
    font-size: 24px;
    line-height: 24px;
  }

  .shot a,
  .ingredient a {
    font-size: 14px;
  }
}

/* Hamburger Nav */
.sidenav {
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Contact Us */ 

.container2 {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 20px;
}


/*input[type=text], select, textarea { */
  select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

/* About Us */
       
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

  .abouttext p {
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 17px;
  }

  

