/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
}

body, html {
  background: #000;
  font-family: "Oxygen", sans-serif;
}

.header {
  background-color: green;
  height: 80px;
  float:left;
  text-align: center;
  width: 100%;
}

.ad_space {
  display: block;
  min-height: 95px;
  width: 100%;
}

.welcome_shot {
  background-image: url("welcome_shot.jpg");
  display: block; /* for verification */
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.welcome_message {
  margin-left: 60%; 
  padding-top: 175px;
}

.wtext_1 {
  color: grey; 
  font-size: 40px; 
  padding-right: 7px; 
  text-align: right;
}

.wtext_2 {
  color: blue; 
  font-size: 12px; 
  padding-right: 7px; 
  text-align: right;
}

.container {
  margin: 0 auto 0;
  width: 1000px;
}

.welcome_container {
  position: float;
  margin: 0 auto 0;
  width: 100%;
}

.footer {
  background-color: orange;
  height: 80px;
  float:left;
  text-align: center;
  width: 100%;
}

/*
  Shots
*/

h2 {
  color: white;
  font-size: 12px;
  text-align: center;
}

.main h2 {
  color: #0393ff;
  padding: 40px 0 40px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
  text-transform: uppercase;
}

.main p {
  color: #fff;
  font-size: 14px;
}

h3,
h3 a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
  margin: 12px 0 4px; 
  text-transform: uppercase;
  text-decoration: none;
}

.shot, .ingredient {
  display: block;
  float: left;
  margin: 0 10px 80px 0;
  margin-bottom: 80px;
  width: 184px;
}

.ingredient {
  height: 350px;
}

.shot {
  height: 525px;
}

.shot:nth-child(5n + 6), .ingredient:nth-child(5n + 6)  {
  margin: 0 0 80px 0;
}

.shot img, .ingredient img {
  width: 100%;
}

.shot a,
.ingredient a {
  color: #0393ff;
  text-decoration: none;
}


.info {
  display: block;
  float: left;
  margin: 0 0 0 40px;
  width: calc(100% - 224px);
}

p.year {
  color: #bcbec0;
}

/* 
  shot SHOW
*/
.shot-show .shot, .ingredient-index, .ingredient-show .ingredient {
  padding: 160px 0 0 0;
  width: 100%;
}

.shot-show .shot img, .ingredient-show .ingredient img {
  float: left;
  width: 184px;
}

.shot-show .shot h3, .ingredient-show .ingredient h3 {
  color: #0393ff;
  font-size: 40px;
  height: auto;
  line-height: 40px;
}

.info {
  display: block;
  float: left;
  margin: 0 0 0 40px;
  width: calc(100% - 224px);
}

.shot-show .shot p {
  display: block;
}

.shot-show .shot p.year {
  margin: 0 0 20px 0;
}

/* 
  MEDIA QUERIES
*/

@media screen and (max-width: 960px) {
  .container {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .shot h3 {
    font-size: 15px;
  }

  .shot a,
  .ingredient a {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  .shot a,
  .ingredient a {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .shot, .ingredient {
    width: calc(50% - 10px);
  }

  .info {
    margin: 0 0 0 20px;
    width: calc(100% - 204px);
  }

  .shot-show .shot h3, .ingredient-show .ingredient h3 {
    font-size: 24px;
    line-height: 24px;
  }

  .shot a,
  .ingredient a {
    font-size: 14px;
  }
}